streamlit
streamlit_extras
streamlit_lottie
google-cloud-aiplatform
python-dotenv
google-generativeai
joblib
streamlit_lottie
langchain-core
langsmith
langchain-google-vertexai
prompt_toolkit
langchain
google-cloud-discoveryengine
langchain_google_community
PyPDF2